*{
	padding:0;
	margin:0;
}

button{
	border:0px;
	cursor:pointer;
}
body {
  background-color:#e6ffe6;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width:100%;
  height:100%;
  min-height:100%;
}
#logout{
	background-color:#e6ffe6;
	width:140px;
	height:40px;
	border-radius:4px;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:10px 30px 0 0;
	color:rgba(64, 64, 64, .8);
	font-size:16px;
	float:right;
	font-weight:bold;
	margin-left:10px;
}
body, html{
	display: flex;
	flex-flow: column;
	height: 100%;
}


#menu{
	background-color:white;
	width:100%;
	height:60px;
	border-bottom: 1px solid rgba(64, 64, 64, .3);
	float:right;
	margin:0 auto;
	position:relative;
}

#logo{
	background-image: url("logo.png");
	width:55px;
	height:55px;
	position:absolute;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	top:0;
	bottom:0;
	left:50px;
	margin:auto 0;
}

#login{
	background-color:#e6ffe6;
	width:140px;
	height:60%;
	border-radius:4px;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:10px 30px 0 0;
	color:rgba(64, 64, 64, .8);
	font-size:16px;
	float:right;
	font-weight:bold;
	margin-left:10px;
}

#register{
	width:140px;
	height:40px;
	border-radius:4px;
	display:flex;
	float:right;
	justify-content:center;
	align-items:center;
	margin:10px 0px 0 0;
	color:rgba(64, 64, 64, .8);
	font-size:16px;
	text-decoration:underline;
}

#dropdown-menu{
	width:140px;
	height:60%;
	border-radius:4px;
	display:flex;
	float:right;
	justify-content:center;
	align-items:center;
	margin:10px 0px 0 0;
	color:rgba(64, 64, 64, .8);
	font-size:16px;
	display:none;
	margin-right:30px;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
	border-radius:10px;
}

.dropdown-content > p{
	padding:5px;
	margin-bottom:5px;
	border-bottom:2px solid #e6ffe6;
}

.dropdown-content > p > a{
	color:black;
	text-decoration:none;
}


#dropdown-menu:hover .dropdown-content {
  display: block;
}



#dropdown-menu{
	background-color:#e6ffe6;
}

#dropdown-menu > p{
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	text-decoration:none;
}




.header{
	width:100%;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	height:40px;
	background-color:white;
	color:rgba(64, 64, 64, .8);
	font-size:32px;
	display:flex;
	justify-content:center;
	align-items:center;
}

#browser{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	width:500px;
	height:60%;
	border:1px solid rgba(64, 64, 64, .3);
	text-align:center;
	color:gray;
}

#signup-wrapper{
	width:30%;
	height:35%;
	margin-left:100px;
	top:150px;
	position:absolute;
	display:flex;
	flex-wrap: wrap;
	justify-content:center;
	align-content:space-between;
	background-color:white;
	left:0;
	right:0;
	bottom:0;
	margin:0 auto;
	padding:25px;
	color:black;
}

h2{
	margin-bottom:50px;
}

input{
	margin-top:5px;
	margin-bottom:25px;
}

#subm{
	padding:5px;
}
*{
	padding:0;
	margin:0;
}

body {
  background-color:#e6ffe6;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width:100%;
  height:100%;
  min-height:100%;
}

button{
	border:0px;
	cursor:pointer;
}

#logo{
	background-image: url("logo.png");
	width:55px;
	height:55px;
	position:absolute;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	top:0;
	bottom:0;
	left:50px;
	margin:auto 0;
}

#menu{
	background-color:white;
	width:100%;
	height:60px;
	border-bottom: 1px solid rgba(64, 64, 64, .3);
	float:right;
	margin:0 auto;
	position:relative;
}

#login{
	background-color:#e6ffe6;
	width:140px;
	height:60%;
	border-radius:4px;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:10px 30px 0 0;
	color:rgba(64, 64, 64, .8);
	font-size:16px;
	float:right;
	font-weight:bold;
	margin-left:10px;
}

#register{
	width:140px;
	height:60%;
	border-radius:4px;
	display:flex;
	float:right;
	justify-content:center;
	align-items:center;
	margin:10px 0px 0 0;
	color:rgba(64, 64, 64, .8);
	font-size:16px;
	text-decoration:underline;
}

#browser{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	width:500px;
	height:60%;
	border:1px solid rgba(64, 64, 64, .3);
	text-align:center;
	color:gray;
}

#dropdown-menu{
	width:140px;
	height:60%;
	border-radius:4px;
	display:flex;
	float:right;
	justify-content:center;
	align-items:center;
	margin:10px 0px 0 0;
	color:rgba(64, 64, 64, .8);
	font-size:16px;
	display:none;
	margin-right:30px;
}

body, html{
	display: flex;
	flex-flow: column;
	height: 100%;
}

#promo-wrapper{
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	flex: 1 1 auto;
}

#promo{
	width:90%;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	display:flex;
	flex-wrap: wrap;
	justify-content:space-evenly;
	align-content:space-evenly;
}


.offert{
	border:4px;
	width:400px;
	height:300px;
	box-shadow:1px 1px 2px 1px rgba(64, 64, 64, .2);
	border-radius:4px;
	margin:10px;
}


.header{
	width:100%;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	height:40px;
	background-color:white;
	color:rgba(64, 64, 64, .8);
	font-size:32px;
	display:flex;
	justify-content:center;
	align-items:center;
}

#one{
	background-image: url("pobrane.jpg");
	background-size:cover;
		background-position:75% 25%;
}

#two{
	background-image: url("leaf.jpg");
	background-size:cover;
		background-position:50% 25%;
}

#three{
	background-image: url("i3.jpg");
	background-size:cover;
}

#four{
	background-image: url("teslax.jpg");
	background-size:cover;
}

#five{
	background-image: url("zoe.jpg");
	background-size:cover;
		background-position:75% 25%;
}

#six{
	background-image: url("jaguar.jpg");
	background-size:cover;
	background-position:90% 25%;
}

#seven{
	background-image: url("ffi.jpg");
	background-size:cover;
	background-position:75% 25%;

}

#eight{
	background-image: url("opel.jpg");
	background-size:cover;
	background-position:0% 75%;

}

#browser{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	width:500px;
	height:60%;
	border:1px solid rgba(64, 64, 64, .3);
	text-align:center;
	color:gray;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
	border-radius:10px;
}

.dropdown-content > p{
	padding:5px;
	margin-bottom:5px;
	border-bottom:2px solid #e6ffe6;
}

.dropdown-content > p > a{
	color:black;
	text-decoration:none;
}


#dropdown-menu:hover .dropdown-content {
  display: block;
}



#dropdown-menu{
	background-color:#e6ffe6;
}

#dropdown-menu > p{
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	text-decoration:none;
}

@media (max-width: 1900px) {
	.offert{
		width:550px;
		margin:25px;
	}
}

@media (max-width: 1335px) {
  #browser{
	  width:300px;
  }
}

@media (max-width: 1070px) {
  #browser{
	  right:160px;
  }
}

@media (max-width: 880px) {
  #browser{
	  width:200px;
	  right:170px;
  }
}

@media (max-width: 700px) {
	#logo{
		display:none;
	}
	
	.offert{
		width:300px;
		height:225px;
	}
  
	#register{
		display:none;
	}
  
	#login{
		display:none;
	}
  
	#dropdown-menu{
		display:block;
	}
}

@media (max-width: 400px) {
  #browser{
	  width:100px;
	  right:170px;
  }
  
  #menu{
	  height:45px;
  }
  
  #dropdown-menu{
	  width:100px;
	  height:60%;
  }
}