<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link href="../static/offert.css" rel="stylesheet">
</head>
<body>

<div id="menu">
	<div id="login">
		Zaloguj
	</div>
	
	<div id="register">
		Zarejestruj
	</div>
	
	<div id="browser">
		Wyszukaj
	</div>
	
</div>

<div id="offert">
	<div id="image-wrapper"> 
		<div id="image"></div>
	</div>
	<div id="description"> 
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu interdum ante, non posuere turpis.
		Vivamus quis arcu eu libero molestie dapibus. Etiam non suscipit odio. Integer justo elit, vestibulum at ultrices ut, interdum vel quam. 
		Mauris pellentesque sem et enim sodales, vel ultrices mi laoreet. Nullam tincidunt eget nulla sodales iaculis.
		Fusce sollicitudin mattis sapien, efficitur tempor lectus venenatis vel.
	</div>
</div>


</body>
</html>
