<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" type="text/css" href="../static/signup.css">
</head>
<body>

<div id="menu">
	<div id="logo" onclick="location.href='/';" style="cursor: pointer;">
		
	</div>
	{% if not logged %}
	<button id="login" onclick="window.location.href='/signin'">
		Zaloguj
	</button>
	<button id="register" onclick="window.location.href='/signup'">
		Zarejestruj
	</button>
	{% endif %}
	{% if logged %}
	<button id="register" onclick="window.location.href='/control'">
		Panel
	</button>
	<button id="logout" onclick="window.location.href='/logout'">
		Wyloguj
	</button>
	{% endif %}
	<div id="dropdown-menu">
		<p>Menu</p>
		<div class="dropdown-content">
			{% if not logged %}
			<p><a href="/signup">Rejestracja</a></p>
			<p><a href="/signin">Logowanie</a></p>
			{% endif %}
			{% if logged %}
			<p><a href="/control">Panel</a></p>
			<p><a href="/logout">Wyloguj</a></p>
			{% endif %}
	  </div>
	</div>
	
	<form>
		<input type="text" id="browser" name="wyszukaj" placeholder="Wyszukaj">
	</form>
	
</div>

<div id="signup-wrapper">
	<div id="signup">
		<h2>Rejestracja</h2>
		{% block content %}

		<form action="" method="post" novalidate>
			{{ form.hidden_tag() }}
			<p>
				{{ form.username.label }}<br>
				{{ form.username(size=32) }}<br>
				{% for error in form.username.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			<p>
				{{ form.password.label }}<br>
				{{ form.password(size=32) }}<br>
				{% for error in form.password.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			<p>
				{{ form.email.label }}<br>
				{{ form.email(size=32) }}<br>
				{% for error in form.email.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			{% if error %}
				<span style="color: red;font-size: xx-large;">[{{ error }}]</span>
			{% endif %}

			<p>{{ form.submit() }}</p>
		</form>

		{% endblock %}
		
	</div>

	
</div>


</body>
</html>
